{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content%}
    <div class = "container">
        <h2>Thank you for your order!</h3>
            <p>Please review your order summary below:</p>

            <p><h5>Name:</h5> {{first}} {{last}}</p>
            <p><h5>Tortilla:</h5> {{ tortilla }}</p>
            <p><h5>Rice:</h5> {{rice}}</p>
            <p><h5>Beans:</h5> {{beans}}</p>
            <p><h5>Protein:</h5> {{protein}}</p>
            <p><h5>Additional Ingredients:</h5> {{ingredients}}</p>
            <p><h5>Any additional notes:</h5> {{notes}} </p>
            <p><h5>Total: $10.00</h5></p>

            <p>If you have any questions, please call us at 949-555-5555. See you soon and thank you for your order!
            </p>

    </div>
{% endblock %}