
/* win - green, lose - red, breakeven - gray */
.win {
    border-style: solid;
    border-color: green;
    border-width: 5px;
}

.lose {
    border-style: solid;
    border-color: red;
    border-width: 5px;
}

.breakeven {
    border-style: solid;
    border-color: gray;
    border-width: 5px;
}

/* edit box styling  */
.edit {
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

/* right align signout */
.right-align {
    text-justify: right;
}

/* Add Margin to bot */
.marg-bot {
    margin-bottom: 5%;
}

/* Add Margin to bot */
.marg-top {
    margin-top: 3%;
}

/* cancel button red */
.cancel-btn {
    background-color: red; 
    color: black;
    border: solid;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    margin-left:1%
}

.cancel-btn a:hover {
    color: black;
}

/* label width to align forms */
label {
    width: 150px;
    text-align: left;
}

/* entry */
.journal label{
    width: 70px;
}