
  #splash_main {
    background-color: rgb(51, 51, 51);
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    text-align: center;
  }
  
  
  #splash_main h1{
    font-size: 40px;
  }

  /* body {
    /* background-image: linear-gradient(
      to bottom,
      #161616,
      #131313,
      #1f1f1f,
      hsl(0, 0%, 14%),
      #242424
    ); */
    background-color: rgb(51, 51, 51);
    background-repeat: no-repeat;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
    color: rgb(238, 238, 238);
  } */
  
  a {
    text-decoration: none;
    color: #fff;
  }
  #container {
    display: flex;
    /* flex-direction: row; */
  }
  
  #splash_main {
    background-color: rgb(5, 141, 0);
   
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    text-align: center;
  }
  
  
  #splash_main h1{
    font-size: 40px;
  }
  
  
  #leftSideBar {
    /* background-image: linear-gradient(
      to bottom,
      #000000,
      #131313,
      #1f1f1f,
      #242424,
      #242424
    ); */
    background-color: rgb(27, 27, 27);
  
    width: 8%;
    height: 100vh;
    margin: 0px;
    padding: 15px 20px;
  }
  
  #logo {
    background-image: url("ClaimHub-logo.png");
    background-size: 140px;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    margin-top: -10px;
    /* text-align: center;
    vertical-align: bottom;
    width: 150px;
    height: 70px;
    padding: 10px 0px;
    font-family: Oswald;
    font-style: italic; */
    font-size: 25px;
    color: #eeeeee;
  }
  
  #leftSidebarList {
    /* background-color: rgb(29, 29, 29); */
    padding: 20px 10px;
  }
  
  #leftSidebarList li {
    margin-bottom: 20px;
    color: rgb(168, 168, 168);
    font-size: 15px;
    font-weight: 500;
  }
  
  #leftSidebarList li a {
    text-decoration: none;
    color: rgb(145, 145, 145);
  }
  
  i {
    color: rgb(5, 141, 0);
    margin-right: 10px;
  }
  
  #newClaim {
    background-color: rgb(163, 82, 82);
    width: 50%;
    height: 50px;
    margin: 0 auto;
    margin-top: 300px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
  }
  
  #rightBar {
    width: 100%;
  }
  
  #navBar {
    /* background-image: linear-gradient(
      to bottom,
      #000000,
      #131313,
      #1f1f1f,
      #242424,
      #292828
    ); */
    background-color: rgb(27, 27, 27);
    padding: 5px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-bottom: 25px;
    /* position: fixed; */
  }
  
  
  
  #userProfile {
    margin-left: 0px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: middle;
    gap: 85px;
    /* background-color: blue; */
    padding: 10px;
  }
  
  #profilePic {
    background-image: url("kisha thumbnail.jpg");
    background-size: 100px;
    background-position: -20px;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  
  
  #profileInfo h2 {
    margin: 12px 0px 5px -70px;
    color: rgb(235, 235, 235);
    font-weight: 600;
    font-size: 17px;
  }
  
  #profileInfo p {
    margin: 0px 0px 0px -70px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(141, 140, 140);
  }
  
  #emailULList {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    background-color: rgb(26, 26, 26);
  }
  
  #emailDiv {
   
    border: none;
    padding: 5px 30px;
    margin: 0px;
    background-color: rgb(34, 34, 34);
   
  }
  
  
  
  li {
    list-style: none;
    margin: 0px;
  }
  
  #emailDiv:hover {
    background-color: rgb(53, 53, 52);
  }
  
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* text-transform: uppercase; */
    padding: 0px;
    margin: 20px;
    color: rgb(180, 178, 178);
  }
  
  a h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    /* text-transform: uppercase; */
    padding: 0px;
    margin: 0px;
    color: rgb(180, 178, 178);
  }
  
  a h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    /* text-transform: uppercase; */
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
  }
  a h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: rgb(143, 142, 142);
    margin: 0px;
  }
  
  hr {
    border: 1px dashed rgb(83, 83, 83);
  }
  
  #emailULList a {
    text-decoration: none;
    color: rgb(173, 173, 173);
  }
  
  pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
  

  
  
  .DSLN {
    text-align: center;
  }
  
  /* tbody {
    display: flex;
  
  
  } */
  
  input {
    color: #646464;
    font-size: 18px !important;
    background-color: rgb(228, 228, 228) !important;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 1px;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
  }
  
  #username {
  width: 90%;
  color: #646464;
    font-size: 20px !important;
   
  
  }
  
  #password {
  width: 90%;
  color: #646464;
    font-size: 20px !important;
   
    
  }
  
  form {
    width: 100%;
    
  }
  
  label {
    font-size: 12px;
    color: #7c7c7c;
    
  }
  
  .login_container {
    width: 18%;
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 0px 50px #00000070;
  
  }
  .login_header {
    width: 100%;
    padding: 20px 0px 20px 0px;
    font-size: 30px;
    color: #969696;
    font-weight: 100;
    border-bottom: 1px solid #c5c5c5;
  
  }
  
  .login_form {
    width: 80%;
    /* background-color: rgb(43, 144, 226); */
    padding: 27px;
    
  
  }
  
  .form-group{
    text-align: left;
    margin-bottom: 20px;
  }
  
  .login_container a {
    text-decoration: none;
    color: rgb(0, 124, 207);
    font-size: 11px;
   
    
  }
  
  
  
  #login_button {
    background-color: rgb(1, 139, 231);
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 15px;
    width: 50%;
  }
  
  #search_div {
    width: 30%;
  }
  
  #navBar input {
    background-color: rgb(90, 90, 90) !important;
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    width: 300px;
    height: 20px;
    margin-top: 20px;
  }
  
  
  #search_button {
    background-color: rgb(4, 105, 0);
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 12px;
    width: 14%;
    font-size: 15px;
    
  }
  
  .back_to_link {
    text-decoration: underline;
    color: #778b00 !important;
  }
  
  
  