body {
  background-color: rgb(211, 115, 36) !important;
}

#wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 98% !important;
}

#header {
  margin: 0 auto;
  width: 100%;

  text-align: center;
  padding: 20px;
}

#incompleteList {
  margin: 0 auto;
  width: 48%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px rgb(230, 230, 230) solid;
}

#CompleteList {
  margin: 0 auto;
  width: 48%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px rgb(230, 230, 230) solid;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px !important;
  font-weight: 600 !important;
  margin-bottom: 60px !important;
}

h4 {
  text-align: center;
  color: rgb(97, 96, 96);
  font-size: 20px !important;
  font-weight: 600 !important;
  background-color: rgb(248, 211, 176);
  padding: 10px;
  border-bottom: 1px rgb(124, 120, 113) solid;
}

input {
  width: 70%;
  border-radius: 5px;
  border: 2px rgb(158, 132, 114) solid;
  font-size: 20px !important;
  color: rgb(48, 48, 48);
  padding: 5px;
}

#btn1 {
  background-color: rgb(1, 106, 138);
  border: none;
  border-radius: 5px;
  padding: 8px;
  color: #fff;
  font-size: 18px;
}

#completed_btn {
  background-color: rgb(1, 106, 138);
  border: none;
  border-radius: 5px;
  padding: 4px;
  color: #fff;
  font-size: 15px;
  margin-left: 30px;
}

#deleted_btn {
  background-color: rgb(1, 106, 138);
  border: none;
  border-radius: 5px;
  padding: 4px;
  color: #fff;
  font-size: 15px;
}

li {
  list-style-type: none;
  color: rgb(54, 54, 54);
  font-size: 20px;
  margin-left: -15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#list_text {
  width: 70%;
  justify-content: flex-start;
  background-color: rgb(128, 62, 62);
}

#list_buttons {
  width: 30%;
  justify-content: flex-end;
}
