header {
    padding: 10px;
    text-align: center;
    background: #686868;
    color: white;
    font-size: 30px;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #111111;
}

aside > p {
    margin: .5rem;
    display: block;
    font-family: 'Fira Sans', sans-serif;
    color: black;
}

p {
    font-family: 'Fira Sans', sans-serif;
}

nav
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

li {
    
    display: inline-block;
    padding: 0px 25px;
    
}

button {
    padding: 5px 35px;
    background-color: gray;




}
div {
    display: flex;
    /* width: 59%; */
    max-width:100%;
    height:auto;
}
section {
    display: flex;
    width: 59%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;   


}
/*img {
    float: right;
    width: 40%;
    }*/

article {
    display: block;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
    background: #686868;
    color: white;
}