{% extends 'base.html' %} {% block content %}
<ul>
  <h1>{{todos|length}} items</h1>
  <hr />
  <p class="add_todo">
    <a href="{% url 'add_todo_items' %}">Add new item</a>
  </p>
  <hr />
  {% for item in todos %}
  <p class="description">
    <a href="{%url 'see_details' item.id %}">{{ item.description }}</a>
  </p>
  <div id="item_info">
    <p>ID: {{ item.id }}</p>
    <p>Created: {{ item.created_date }}</p>
    <p>Completed: {{item.completed_date}}</p>
    <p>Is Completed: {{item.is_completed}}</p>
    <a href="{% url 'delete_item' item.id %}" class="delete_link"
      >Delete Item</a
    >
  </div>

  <hr />
  {% empty %} {% endfor %}
</ul>
{% endblock %}
