{% extends 'base.html' %} {% block content %}
<ul>
  <h4>There are {{todos|length}} items in the list</h4>
  <a href="{% url 'add_todo_items' %}">Add a todo item</a>
  {% for item in todos %}
  <p id="description">
    <a href="{%url 'see_details' item.id %}">{{ item.description }}</a>
  </p>
  <p>ID: {{ item.id }}</p>
  <p>Created Date: {{ item.created_date }}</p>
  <p>Completed Date: {{item.completed_date}}</p>
  <p>Is Completed: {{item.is_completed}}</p>
  <a href="{% url 'delete_item' item.id %}" class="button_link">Delete Item</a>
  {% empty %} {% endfor %}
</ul>
{% endblock %}
