{% extends 'base.html' %} {% block content %} 



{% if claims_list|length == 0 %}

<h1>Claims List View</h1><hr>
<p class="big_btn">
  <a href="claims/">View claims</a>
</p>

{% else %}
<div class="page_header">
<h1>Claims List View</h1>  
<a href="{% url 'add_claims' %}" ><div class="add_claim"><p>Add new claim</p></div></a>
</div> 
<p class="message">You have {{claims_list|length}} active claims</p>
<p class="message">You have {{email_msg|length}} matching emails</p>






<ul class="nav">
<li class="nav_header">
       <div class="item_div_claimnum_header">Claim #</div>
        <div class="item_div">Lit. Dates</div>
        <div class="item_div">Claimant</div>
        <div class="item_div">COV LTR</div>
        <div class="item_div">DC ASGN?</div>
        <div class="item_div">COV LTR Sent</div>
        <div class="item_div">Last Note Date</div>
        <div class="item_div">DSLN</div>
        <div class="item_div">FWP Date</div>
        <div class="item_div">In Suit?</div>
        <div class="item_div">Insured Facility</div>
        <div class="item_div">Insurer Policy</div>
        <div class="item_div">Settlement Value</div>
        <div class="item_div">State</div>
        <div class="item_div">Action Required</div>
        <div class="item_div">Bulk Insured</div>
        <div class="item_div">Claim Type</div>
        {% comment %} <div class="item_div_edit_delete">-</div>
        <div class="item_div_edit_delete">-</div> {% endcomment %}
    </li>
   
  
   {% for claim in claims_list %}
   
   <li class="nav-item">
     <a href="{% url 'claim_details' claim.id %}" class="nav-link">
            <div class="item_div_claimnum"><b>{{claim.claim_number}}</b></div>
            <div class="item_div">{{claim.lit_dates}}</div>
            <div class="item_div">{{claim.claimant}}</div>
            <div class="item_div">{{claim.coverage_letter}}</div>
            <div class="item_div">{{claim.dc_assigned}}</div>
            <div class="item_div">{{claim.date_coverage_letter_sent}}</div>
             <div class="item_div">{{claim.last_note_date}}</div>
            <div class="item_div dsln">{{claim.Days_Since_Last_Note}}</div>
            <div class="item_div">{{claim.Follow_Up_Date}}</div>
            <div class="item_div">{{claim.in_suit}}</div>
            <div class="item_div">{{claim.insured_facility}}</div>
            <div class="item_div">{{claim.insurer_policy}}</div>
            <div class="item_div">{{claim.settlement_value}}</div>
            <div class="item_div">{{claim.state}}</div>
            <div class="item_div">{{claim.action_required}}</div>
            <div class="item_div">{{claim.bulk_insured}}</div>
            <div class="item_div">{{claim.claim_type}}</div></a>
            <a href="{% url 'update_claim' claim.id %}"class="edit_delete_link">Edit</a>
            <a href="{% url 'delete_claim' claim.id %}"class="edit_delete_link">Delete</a>
      
      

      
      

  </li>
     
         
           
             {% for item in email_msg %}
            {% if item.claimNum == claim.claim_number %}
              <div class="nav-submenu ">
        
         <a href="{% url 'email_details' item.id %}" class="nav-submenu-link"><div id="emailDiv"><h2 id="claimNum">{{item.claimNum}}</h2><h3 id="Subject">Subject: {{item.emailSubject}}</h3>
                      <h4 id="From">From: {{item.emailFrom}}</h4></div></a>
              </div>
             {%endif%} {% endfor %}
            
         

    


    {% endfor %}
   
   
  
   
</ul>


<nav aria-label="Page navigation example">
 <ul class="pagination">
{% if claims_list.has_previous %}
  
    <li class="page-item"><a href="?page=1" class="page-link">&laquo First</a></li>
    <li class="page-item"><a href="?page={{ claims_list.previous_page_number }}" class="page-link">Previous</a></li>
{% endif %}
<li class="page-item"><a class="page-link" href="#">Page {{ claims_list.number }} of {{ claims_list.paginator.num_pages }}</a></li>


{% if claims_list.has_next %}
<li class="page-item"><a href="?page={{ claims_list.next_page_number }}" class="page-link">Next</a></li>
<li class="page-item"><a href="?page={{ claims_list.paginator.num_pages }}" class="page-link">Last &raquo</a></li>
    

    </ul>
</nav>


{% endif %}<br/><br/><br/><br/>
<br/><br/><br/><br/>
{% endif %}{% endblock %}