{% extends 'base.html' %} {% block content %} {% if email_msgs|length == 0 %}

<h1>Email List</h1>
<p class="big_btn">
  <a href="email/">View email</a>
</p>

{% else %}

<div class="page_header">
<h1>Email List View</h1>  
<a href="{% url 'claims' %}" ><div class="add_claim"><p>View claims</p></div></a>
</div> 

<p class="message">You have {{email_msgs|length}} email messages</p>




<div class="email_container">
    <ul id="emailULList">

      {% for x in email_msgs %}
      <li><a href="{% url 'email_details' x.id %}"><div id="emailUL"><h2 id="claimNum">Claim Number: {{x.claimNum}}</h2><h3 id="Subject">{{x.emailSubject}}</h3>
      <h4 id="From">From: {{x.emailFrom}}: {{x.emailFromAddress}}</h4></div></a></li>
      {% endfor %}
    </ul>
</div>


{% endif %} {% endblock %}